<div class="container">
  <div class="relative overflow-x-auto rounded-md">
    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
      <thead class="text-xs uppercase bg-gray-700 text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Title</th>
          <th scope="col" class="px-6 py-3"></th>
          <th scope="col" class="px-6 py-3"></th>
          <th scope="col" class="px-6 py-3">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let task of tasksList; let i = index"
          class="border-b bg-gray-800 border-gray-700"
        >
          <th
            scope="row"
            colspan="3"
            class="px-6 py-4 font-medium whitespace-nowrap text-white"
          >
            {{ task }}
          </th>
          <td class="px-6 py-4">
            <button
              class="bg-red-600 py-2 px-1 rounded-md border-none text-white"
              (click)="deleteTask(i)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
